<main class="main">
  <h1>Hello World</h1>
  <mat-slide-toggle>Toggle me</mat-slide-toggle>

  <form action="" class="form-container flex flex-col gap-4" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username or Email" formControlName="name" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-select placeholder="Favorite food">
        <mat-option value="steak">Steak</mat-option>
        <mat-option value="pizza">Pizza</mat-option>
        <mat-option value="tacos">Tacos</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose your date of birth</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

</main>


<router-outlet />